body {
	margin: 0;
	width: 100%;
}

/*
 * Header area
 * Header has two classes,
 * title: page title
 * brief: brief description of the page
 */

.header {
	height: 100px;
	background-color: #202124;
}

.title {
	font-size: 45px;
	color: white;
	margin-left: 20;
}

.brief {
	margin-left: 40;
	color: #49C1D2;
}

/*
 * main area
 * anything except header is here
 */
 .main {
	
 }

/*
 * menu area
 * here we have some links and buttons acting as a menu
 */
.menu {
	background-color: #5D1049;
	color: white;
	font-size: 20;
	
	float: left;
	width: 20%;
	height: 100%;
	
	text-align: center;
}

.menu a {
	color: white;
	text-decoration: none;
}

.menu_item {
	margin: 10;
	background-color: #720D5D;
	border-radius: 7px;
	transition: background-color 1s;
}

.menu_item:hover {
	background-color: #DA1AB2;
}

/*
 * Content area
 */
 .content {
    float:left;
    width:60%;
    padding:0 20px;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .content {
    width:100%;
  }
  .menu {
    height: 100;
  }
}
